
@media screen and (max-width: 480px){
    .content{
        display: flex;
        flex-direction: column;
        width:100%;
    }
}
@media screen and (min-width: 480px){
    .content{
        padding-bottom: 5px;
        flex: 1;
        max-width: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        border-right: min(0.3vw, 1.2px) solid rgb(244, 247, 248);
    }
}
